Repository organicmaps/organicmaps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organicmaps/mergers, @organicmaps/design, @organicmaps/android, @organicmaps/android-auto, @organicmaps/ios, @organicmaps/qt, @organicmaps/rendering, @organicmaps/data, @organicmaps/styles, @organicmaps/devops, @organicmaps/growth, @organicmaps/legal

[strings] Fix Dutch translation
  data/strings/strings.txt
Owners: @organicmaps/mergers

[strings] Remove unused AA string
  data/strings/strings.txt
Owners: @organicmaps/mergers

[styles][outdoor] Raise visibility of huts, hunting_stands, towers..
  data/styles/outdoors/include/Icons.mapcss
Owners: @organicmaps/styles

[styles] Regenerated for outdoors visibility changes
  data/drules_proto.bin
  data/drules_proto.txt
  data/drules_proto_outdoors_dark.bin
  data/drules_proto_outdoors_dark.txt
  data/drules_proto_outdoors_light.bin
  data/drules_proto_outdoors_light.txt
  data/styles/outdoors/include/priorities_4_overlays.prio.txt
Owners: @organicmaps/styles

[ios] fix bug when the layers menu doesn't layouted properly on appear
  iphone/Maps/UI/BottomMenu/Menu/BottomMenuViewController.swift
Owners: @organicmaps/ios

[ios] refactor the BottomMenuLayerButton
  iphone/Maps/UI/BottomMenu/Menu/Cells/BottomMenuLayersCell.swift
  iphone/Maps/UI/BottomMenu/Menu/Cells/BottomMenuLayersCell.xib
Owners: @organicmaps/ios

[ios] fix track recording bug first appearnce bug
  iphone/Maps/Classes/CustomViews/MapViewControls/TrackRecordingViewController.swift
Owners: @organicmaps/ios

Reordered place page details
  android/app/src/main/res/layout/place_page_details.xml
  android/app/src/main/res/layout/place_page_links_fragment.xml
Owners: @organicmaps/android

[styles][outdoor] Increase visibility of power lines and towers
  data/styles/outdoors/include/Icons.mapcss
  data/styles/outdoors/include/Roads.mapcss
Owners: @organicmaps/styles

Reorderd editor page fields
  android/app/src/main/java/app/organicmaps/editor/EditorFragment.java
  android/app/src/main/res/layout/fragment_editor.xml
  data/strings/strings.txt
Owners: @organicmaps/android, @organicmaps/mergers

[strings] Regenerated
  android/app/src/main/res/values-ar/strings.xml
  android/app/src/main/res/values-az/strings.xml
  android/app/src/main/res/values-be/strings.xml
  android/app/src/main/res/values-bg/strings.xml
  android/app/src/main/res/values-ca/strings.xml
  android/app/src/main/res/values-cs/strings.xml
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-el/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-et/strings.xml
  android/app/src/main/res/values-eu/strings.xml
  android/app/src/main/res/values-fa/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-hi/strings.xml
  android/app/src/main/res/values-hu/strings.xml
  android/app/src/main/res/values-in/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-iw/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-lv/strings.xml
  android/app/src/main/res/values-mr/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ro/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sk/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-sw/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-uk/strings.xml
  android/app/src/main/res/values-vi/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values-zh/strings.xml
  android/app/src/main/res/values/strings.xml
Owners: none

[strings] Regenerated
  android/app/src/main/res/values-ar/strings.xml
  android/app/src/main/res/values-az/strings.xml
  android/app/src/main/res/values-be/strings.xml
  android/app/src/main/res/values-bg/strings.xml
  android/app/src/main/res/values-ca/strings.xml
  android/app/src/main/res/values-cs/strings.xml
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-el/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-et/strings.xml
  android/app/src/main/res/values-eu/strings.xml
  android/app/src/main/res/values-fa/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-hi/strings.xml
  android/app/src/main/res/values-hu/strings.xml
  android/app/src/main/res/values-in/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-iw/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-lv/strings.xml
  android/app/src/main/res/values-mr/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ro/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sk/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-sw/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-uk/strings.xml
  android/app/src/main/res/values-vi/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values-zh/strings.xml
  android/app/src/main/res/values/strings.xml
Owners: none

Reorderd editor page fields
  android/app/src/main/java/app/organicmaps/editor/EditorFragment.java
  android/app/src/main/res/layout/fragment_editor.xml
  data/strings/strings.txt
Owners: @organicmaps/android, @organicmaps/mergers

Improve place selection explanation
  data/strings/strings.txt
Owners: @organicmaps/mergers

[styles] Fix unused color vars warnings
  data/styles/default/dark/colors.mapcss
  data/styles/default/light/colors.mapcss
  data/styles/vehicle/dark/colors.mapcss
  data/styles/vehicle/light/colors.mapcss
Owners: @organicmaps/styles

[android] Add route point icons
  android/app/src/main/res/drawable/route_point_01.xml
  android/app/src/main/res/drawable/route_point_02.xml
  android/app/src/main/res/drawable/route_point_03.xml
  android/app/src/main/res/drawable/route_point_04.xml
  android/app/src/main/res/drawable/route_point_05.xml
  android/app/src/main/res/drawable/route_point_06.xml
  android/app/src/main/res/drawable/route_point_07.xml
  android/app/src/main/res/drawable/route_point_08.xml
  android/app/src/main/res/drawable/route_point_09.xml
  android/app/src/main/res/drawable/route_point_10.xml
  android/app/src/main/res/drawable/route_point_11.xml
  android/app/src/main/res/drawable/route_point_12.xml
  android/app/src/main/res/drawable/route_point_13.xml
  android/app/src/main/res/drawable/route_point_14.xml
  android/app/src/main/res/drawable/route_point_15.xml
  android/app/src/main/res/drawable/route_point_16.xml
  android/app/src/main/res/drawable/route_point_17.xml
  android/app/src/main/res/drawable/route_point_18.xml
  android/app/src/main/res/drawable/route_point_19.xml
  android/app/src/main/res/drawable/route_point_20.xml
  android/app/src/main/res/drawable/route_point_finish.png
  android/app/src/main/res/drawable/route_point_start.png
  android/app/src/main/res/values/arrays.xml
Owners: @organicmaps/android

[drape] Link OpenGL on windows
  drape/CMakeLists.txt
  drape/gl_functions.cpp
Owners: @organicmaps/rendering

[android] Add manage route functionality
  android/app/src/main/cpp/app/organicmaps/Framework.cpp
  android/app/src/main/java/app/organicmaps/Framework.java
  android/app/src/main/java/app/organicmaps/MwmActivity.java
  android/app/src/main/java/app/organicmaps/routing/ManageRouteAdapter.java
  android/app/src/main/java/app/organicmaps/routing/ManageRouteBottomSheet.java
  android/app/src/main/java/app/organicmaps/routing/RouteMarkData.java
  android/app/src/main/java/app/organicmaps/routing/RoutingBottomMenuController.java
  android/app/src/main/java/app/organicmaps/routing/RoutingBottomMenuListener.java
  android/app/src/main/java/app/organicmaps/routing/RoutingController.java
  android/app/src/main/res/drawable/ic_drag.xml
  android/app/src/main/res/drawable/ic_manage_route.xml
  android/app/src/main/res/drawable/ic_my_position_blue.xml
  android/app/src/main/res/layout-land/altitude_chart_panel.xml
  android/app/src/main/res/layout-w1020dp-land/altitude_chart_panel.xml
  android/app/src/main/res/layout/altitude_chart_panel.xml
  android/app/src/main/res/layout/manage_route_bottom_sheet.xml
  android/app/src/main/res/layout/manage_route_list_item.xml
Owners: @organicmaps/android

[strings] fix typo in Japanese
  data/strings/strings.txt
Owners: @organicmaps/mergers

[strings] fix typo in Japanese
  data/strings/strings.txt
Owners: @organicmaps/mergers

[styles] Add minor power lines and poles
  data/mapcss-mapping.csv
  data/strings/types_strings.txt
  data/styles/outdoors/include/Icons.mapcss
  data/styles/outdoors/include/Roads.mapcss
  data/styles/outdoors/include/priorities_3_FG.prio.txt
  data/styles/outdoors/include/priorities_4_overlays.prio.txt
  generator/generator_tests/osm_type_test.cpp
Owners: @organicmaps/styles, @organicmaps/mergers, @organicmaps/data

[classif] Add man_made=utility_pole
  data/mapcss-mapping.csv
  data/strings/types_strings.txt
  data/styles/outdoors/include/Icons.mapcss
  data/styles/outdoors/include/priorities_4_overlays.prio.txt
  generator/generator_tests/osm_type_test.cpp
Owners: @organicmaps/styles, @organicmaps/mergers, @organicmaps/data

[styles] Regenerate for power towers and lines
  data/classificator.txt
  data/colors.txt
  data/drules_proto.bin
  data/drules_proto.txt
  data/drules_proto_outdoors_dark.bin
  data/drules_proto_outdoors_dark.txt
  data/drules_proto_outdoors_light.bin
  data/drules_proto_outdoors_light.txt
  data/styles/outdoors/include/priorities_3_FG.prio.txt
  data/styles/outdoors/include/priorities_4_overlays.prio.txt
  data/types.txt
  data/visibility.txt
Owners: @organicmaps/styles, @organicmaps/mergers

.github/CODEOWNERS:

# All non-assigned.
* @organicmaps/mergers
# Visual design.
android/app/src/main/res/drawable*/ @organicmaps/design
android/app/src/main/res/font/ @organicmaps/design
android/app/src/main/res/mipmap*/ @organicmaps/design
data/*.ttf @organicmaps/design
data/resources*/ @organicmaps/design
data/search-icons/ @organicmaps/design
data/styles/default/light/**/*.png @organicmaps/design
data/styles/default/light/**/*.svg @organicmaps/design
data/styles/default/dark/**/*.png @organicmaps/design
data/styles/default/dark/**/*.svg @organicmaps/design
iphone/Maps/Images.xcassets/ @organicmaps/design
# Android.
android/ @organicmaps/android
android/app/src/main/java/app/organicmaps/car/ @organicmaps/android-auto
docs/ANDROID_LOCATION_TEST.md @organicmaps/android
docs/JAVA_STYLE.md @organicmaps/android
# no owner for translation changes
/android/app/src/main/res/values*/strings.xml
# iOS.
iphone/ @organicmaps/ios
xcode/ @organicmaps/ios
docs/OBJC_STYLE.md @organicmaps/ios
# no owner for translation changes
/iphone/plist.txt
/iphone/Maps/LocalizedStrings/
# Qt
qt/ @organicmaps/qt
# Rendering
drape/ @organicmaps/rendering
drape_frontend/ @organicmaps/rendering
# Map Data.
tools/python/maps_generator/ @organicmaps/data
generator/ @organicmaps/data
topography_generator/ @organicmaps/data
data/borders/ @organicmaps/data
data/conf/isolines/ @organicmaps/data
docs/SUBWAY_GENERATION.md @organicmaps/data
docs/MAPS.md @organicmaps/data
docs/EXPERIMENTAL_PUBLIC_TRANSPORT_SUPPORT.md @organicmaps/data
# Map Styles.
data/styles/ @organicmaps/styles
data/types.txt @organicmaps/styles
data/visibility.txt @organicmaps/styles
data/mapcss-mapping.csv @organicmaps/styles
data/replaced_tags.txt @organicmaps/styles
data/classificator.txt @organicmaps/styles
data/drules_* @organicmaps/styles
docs/STYLES.md
tools/kothic/ @organicmaps/styles
# DevOps.
.github/workflows @organicmaps/devops
android/*gradle* @organicmaps/devops
docs/RELEASE_MANAGEMENT.md @organicmaps/devops
xcode/fastlane/ @organicmaps/devops
# Growth.
README.md @organicmaps/growth
.github/FUNDING.yml @organicmaps/growth
android/app/src/fdroid/play/ @organicmaps/growth
android/app/src/google/play/ @organicmaps/growth
iphone/metadata/ @organicmaps/growth
# Legal.
LEGAL @organicmaps/legal
LICENSE @organicmaps/legal
NOTICE @organicmaps/legal
CONTRIBUTORS @organicmaps/legal
docs/CODE_OF_CONDUCT.md @organicmaps/legal
docs/DCO.md @organicmaps/legal
docs/GOVERNANCE.md @organicmaps/legal
