Repository organicmaps/organicmaps, pull requests merged in 2021-02, with the labels that each got.

#109 [Android] Disable/hide "order a taxi" button
  android/res/layout/place_page_details.xml
  android/src/com/mapswithme/maps/widget/placepage/PlacePageView.java
  android/src/com/mapswithme/maps/widget/placepage/RichPlacePageController.java
  android/src/com/mapswithme/util/statistics/PlacePageTracker.java
Labels: android

#111 [Android]Disable/hide the traffic button in navigation mode
  android/res/layout/layout_nav_bottom.xml
  android/src/com/mapswithme/maps/MwmActivity.java
  android/src/com/mapswithme/maps/routing/NavigationController.java
  android/src/com/mapswithme/maps/widget/menu/NavMenu.java
Labels: android

#115 [Android] Disabled the place reviews
  android/res/layout/place_page_preview_rating.xml
  android/src/com/mapswithme/maps/ugc/UGCController.java
  android/src/com/mapswithme/maps/widget/placepage/PlacePageView.java
Labels: android

#116 [Android] Disabled the taxi option in routing
  android/res/layout/routing_plan.xml
  android/src/com/mapswithme/maps/routing/RoutingPlanController.java
Labels: android

#119 [Android] Disabled booking.com integration #22
  android/src/com/mapswithme/maps/widget/placepage/PlacePageButtons.java
  android/src/com/mapswithme/maps/widget/placepage/PlacePageView.java
Labels: android

#121 [Android] Disable bookmark synchronization #75
  android/res/layout/fragment_ugc_route_edit.xml
  android/res/menu/menu_bookmark_categories.xml
  android/res/menu/menu_bookmarks_list.xml
  android/src/com/mapswithme/maps/bookmarks/BaseBookmarkCategoriesFragment.java
  android/src/com/mapswithme/maps/bookmarks/BookmarkCategoriesFragment.java
  android/src/com/mapswithme/maps/bookmarks/BookmarksListFragment.java
  android/src/com/mapswithme/maps/ugc/routes/UgcRouteEditSettingsFragment.java
Labels: android

#123 [Android] Disabled the discovery button #103
  android/res/layout/menu_buttons_line.xml
  android/src/com/mapswithme/maps/tips/ClickInterceptorFactory.java
  android/src/com/mapswithme/maps/tips/Tutorial.java
  android/src/com/mapswithme/maps/widget/menu/MainMenu.java
Labels: android

#135 [ci] Use shared GitHub runners
  .github/workflows/android-beta.yaml
  .github/workflows/android-check.yaml
  .github/workflows/desktop-check.yaml
  .github/workflows/ios-check.yaml
Labels: devops

#139 [android] Remove pushwoosh #118
  android/AndroidManifest.xml
  android/build.gradle
  android/src/com/mapswithme/maps/SplashActivity.java
  android/src/com/mapswithme/maps/analytics/EventLoggerAggregator.java
  android/src/com/mapswithme/maps/analytics/PushWooshEventLogger.java
  android/src/com/mapswithme/maps/bookmarks/SystemDownloadCompletedService.java
  android/src/com/mapswithme/maps/search/SearchFragment.java
  android/src/com/mapswithme/util/push/GCMListenerRouterService.java
  android/src/com/mapswithme/util/push/GcmInstanceIDRouterListenerService.java
  android/src/com/mapswithme/util/statistics/PushwooshHelper.java
  android/src/com/mapswithme/util/statistics/Statistics.java
Labels: android

#142 [android] Remove data sharing beetween Release/Beta/Debug versions
  android/AndroidManifest.xml
  android/res/values/donottranslate.xml
Labels: android

#148 [Android] [Android] A crash on Google Sign In #145 && [Android] Remove "rate the place" screen #100
  android/src/com/mapswithme/maps/background/NotificationService.java
Labels: android

#124 Regenerate symbols
  data/resources-6plus_clear/symbols.png
  data/resources-6plus_dark/symbols.png
  data/resources-hdpi_clear/symbols.png
  data/resources-hdpi_dark/symbols.png
  data/resources-mdpi_clear/symbols.png
  data/resources-mdpi_dark/symbols.png
  data/resources-xhdpi_clear/symbols.png
  data/resources-xhdpi_dark/symbols.png
  data/resources-xxhdpi_clear/symbols.png
  data/resources-xxhdpi_dark/symbols.png
  data/resources-xxxhdpi_clear/symbols.png
  data/resources-xxxhdpi_dark/symbols.png
Labels: android, design, iOS

#153 [android] Update Android NDK to the latest LTS
  android/build.gradle
Labels: android, devops

#160 [iOS] Fix a compilation error
  iphone/Maps/Images.xcassets/Promo/img_booking_popup_pholder_light.imageset/Contents.json
  iphone/Maps/TipsAndTricks/SearchTutorialBlur.xib
  iphone/Maps/UI/Promo/PromoAfterBookingViewController.swift
  iphone/Maps/UI/Promo/PromoAfterBookingViewController.xib
Labels: iOS

#159 [Android] Disable in-app purchases
  android/AndroidManifest.xml
Labels: android
