Repository organicmaps/organicmaps, pull requests merged in 2021-04, with the labels that each got.

#284 [android]: Fix Gradle warnings
  android/AndroidManifest.xml
  android/gradle.properties
Labels: android

#287 [ios][android]: Replace layer icons
  .gitattributes
  android/res/drawable/ic_layers_isoline_active.xml
  android/res/drawable/ic_layers_isoline_active_night.xml
  android/res/drawable/ic_layers_isoline_inactive.xml
  android/res/drawable/ic_layers_routes_active.xml
  android/res/drawable/ic_layers_routes_active_night.xml
  android/res/drawable/ic_layers_routes_inactive.xml
  android/res/drawable/ic_layers_subway_active.xml
  android/res/drawable/ic_layers_subway_active_night.xml
  android/res/drawable/ic_layers_subway_inactive.xml
  android/res/drawable/ic_layers_traffic_active.xml
  android/res/drawable/ic_layers_traffic_active_night.xml
  android/res/drawable/ic_layers_traffic_inactive.xml
  iphone/Maps/Images.xcassets/Layers/Menu/Contents.json
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_guides.imageset/Contents.json
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_guides.imageset/guides_default.pdf
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_guides.imageset/routes_default.pdf
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_isomaps.imageset/Contents.json
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_isomaps.imageset/isolines__default.pdf
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_isomaps.imageset/isomaps_default.pdf
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_subway.imageset/Contents.json
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_subway.imageset/subway_default.pdf
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_traffic.imageset/Contents.json
  iphone/Maps/Images.xcassets/Layers/Menu/btn_menu_traffic.imageset/traffic_default.pdf
Labels: android, design, iOS

#298 [android]: Use native sharing dialog
  android/src/com/mapswithme/maps/MwmActivity.java
  android/src/com/mapswithme/maps/bookmarks/BaseBookmarkCategoriesFragment.java
  android/src/com/mapswithme/maps/bookmarks/BookmarkCategoriesFragment.java
  android/src/com/mapswithme/maps/bookmarks/BookmarksListFragment.java
  android/src/com/mapswithme/maps/bookmarks/BookmarksSharingHelper.java
  android/src/com/mapswithme/maps/bookmarks/data/BookmarkInfo.java
  android/src/com/mapswithme/maps/bookmarks/data/MapObject.java
  android/src/com/mapswithme/maps/settings/AboutFragment.java
  android/src/com/mapswithme/maps/ugc/routes/SendLinkPlaceholderFragment.java
  android/src/com/mapswithme/maps/ugc/routes/UgcSharingOptionsFragment.java
  android/src/com/mapswithme/maps/widget/placepage/PlacePageView.java
  android/src/com/mapswithme/util/SharingUtils.java
  android/src/com/mapswithme/util/sharing/BaseShareable.java
  android/src/com/mapswithme/util/sharing/BookmarkInfoShareable.java
  android/src/com/mapswithme/util/sharing/LocalFileShareable.java
  android/src/com/mapswithme/util/sharing/MapObjectShareable.java
  android/src/com/mapswithme/util/sharing/ShareOption.java
  android/src/com/mapswithme/util/sharing/ShareableInfoProvider.java
  android/src/com/mapswithme/util/sharing/SharingHelper.java
  android/src/com/mapswithme/util/sharing/SharingTarget.java
  android/src/com/mapswithme/util/sharing/TargetUtils.java
  android/src/com/mapswithme/util/sharing/TextShareable.java
  android/src/com/mapswithme/util/sharing/ViralEditorShareable.java
Labels: android

#300 [android]: Remove checks for JellyBean and Lollipop
  android/src/com/mapswithme/maps/bookmarks/BookmarksCatalogFragment.java
  android/src/com/mapswithme/maps/location/TrackRecorderWakeService.java
  android/src/com/mapswithme/maps/maplayer/traffic/widget/TrafficButton.java
  android/src/com/mapswithme/maps/tips/ImmersiveModeCompatPromptBackground.java
  android/src/com/mapswithme/maps/widget/SubscriptionButton.java
  android/src/com/mapswithme/util/UiUtils.java
  android/src/com/mapswithme/util/Utils.java
Labels: android

#302 [android]: Remove NativeJobService
  android/AndroidManifest.xml
  android/src/com/mapswithme/maps/MwmApplication.java
  android/src/com/mapswithme/maps/background/NotificationService.java
  android/src/com/mapswithme/maps/scheduling/ConnectivityJobScheduler.java
  android/src/com/mapswithme/maps/scheduling/ConnectivityListener.java
  android/src/com/mapswithme/maps/scheduling/JobIdMap.java
  android/src/com/mapswithme/maps/scheduling/JobServiceDelegate.java
  android/src/com/mapswithme/maps/scheduling/NativeJobService.java
Labels: android

#309 New versioning scheme
  .github/workflows/android-beta.yaml
  .github/workflows/android-check.yaml
  android/build.gradle
  android/gradle.properties
  xcode/common.xcconfig
Labels: android, devops, iOS

#305 [iOS] Add more keyboard shortcuts
  iphone/Maps/Classes/MapViewController.mm
Labels: iOS

#346 [android] Remove bundled map from Web APK
  android/build.gradle
  android/res/drawable/ic_download_map.xml
  android/res/layout-land/activity_download_resources.xml
  android/res/layout/activity_download_resources.xml
  platform/downloader_utils.cpp
  platform/downloader_utils.hpp
  storage/map_files_downloader.cpp
Labels: android

#341 [android] Streamline SplashScreen
  android/src/com/mapswithme/maps/DownloadResourcesLegacyActivity.java
  android/src/com/mapswithme/maps/MapFragment.java
  android/src/com/mapswithme/maps/MwmActivity.java
  android/src/com/mapswithme/maps/MwmApplication.java
  android/src/com/mapswithme/maps/MwmBroadcastReceiver.java
  android/src/com/mapswithme/maps/MwmJobIntentService.java
  android/src/com/mapswithme/maps/SplashActivity.java
  android/src/com/mapswithme/maps/background/UpgradeReceiver.java
  android/src/com/mapswithme/maps/location/LocationHelper.java
  android/src/com/mapswithme/util/Counters.java
  android/src/com/mapswithme/util/PermissionsUtils.java
  android/src/com/mapswithme/util/SharedPropertiesUtils.java
  android/src/com/mapswithme/util/StorageUtils.java
Labels: android, refactoring
