Repository organicmaps/organicmaps, pull requests merged in 2022-10, with the labels that each got.

#3586 [android] Fix a crash in "Location is disabled" dialog
  android/src/com/mapswithme/maps/location/LocationHelper.java
Labels: Bug, Android

#3591 [android] Fix IllegalStateException in AndroidNativeProvider
  android/src/com/mapswithme/maps/location/LocationHelper.java
Labels: Android, CrashReports

#3615 [android] Supress lint warnings we can't fix now
  android/build.gradle
Labels: Android, Refactoring

#3613 [android] Supress DiscouragedApi lint warning
  android/src/com/mapswithme/maps/editor/HoursMinutesPickerFragment.java
  android/src/com/mapswithme/maps/search/CategoriesAdapter.java
  android/src/com/mapswithme/util/UiUtils.java
  android/src/com/mapswithme/util/Utils.java
Labels: Android, Refactoring

#3606 [android] Switch to use the stock AlertDialog everywhere
  android/src/com/mapswithme/maps/DownloadResourcesLegacyActivity.java
  android/src/com/mapswithme/maps/MapFragment.java
  android/src/com/mapswithme/maps/MwmActivity.java
  android/src/com/mapswithme/maps/SplashActivity.java
  android/src/com/mapswithme/maps/bookmarks/BookmarkCategoriesFragment.java
  android/src/com/mapswithme/maps/bookmarks/BookmarkCategorySettingsFragment.java
  android/src/com/mapswithme/maps/bookmarks/BookmarksSharingHelper.java
  android/src/com/mapswithme/maps/bookmarks/CategoryValidator.java
  android/src/com/mapswithme/maps/dialog/AlertDialog.java
  android/src/com/mapswithme/maps/dialog/AlertDialogCallback.java
  android/src/com/mapswithme/maps/dialog/DefaultDialogFactory.java
  android/src/com/mapswithme/maps/dialog/DialogFactory.java
  android/src/com/mapswithme/maps/dialog/DialogUtils.java
  android/src/com/mapswithme/maps/dialog/EditTextDialogFragment.java
  android/src/com/mapswithme/maps/dialog/ResolveDialogViewStrategy.java
  android/src/com/mapswithme/maps/dialog/ResolveFragmentManagerStrategy.java
  android/src/com/mapswithme/maps/downloader/DownloaderAdapter.java
  android/src/com/mapswithme/maps/downloader/MapManager.java
  android/src/com/mapswithme/maps/editor/EditorFragment.java
  android/src/com/mapswithme/maps/editor/EditorHostFragment.java
  android/src/com/mapswithme/maps/editor/HoursMinutesPickerFragment.java
  android/src/com/mapswithme/maps/editor/OsmLoginFragment.java
  android/src/com/mapswithme/maps/editor/ProfileFragment.java
  android/src/com/mapswithme/maps/help/FaqFragment.java
  android/src/com/mapswithme/maps/location/LocationHelper.java
  android/src/com/mapswithme/maps/maplayer/traffic/widget/TrafficButtonController.java
  android/src/com/mapswithme/maps/routing/BaseRoutingErrorDialogFragment.java
  android/src/com/mapswithme/maps/routing/RoutingController.java
  android/src/com/mapswithme/maps/settings/SettingsPrefsFragment.java
  android/src/com/mapswithme/maps/settings/StoragePathFragment.java
  android/src/com/mapswithme/maps/widget/placepage/BookmarkColorDialogFragment.java
  android/src/com/mapswithme/util/Utils.java
Labels: Android, Refactoring

#3627 [android] fix crash on login to osm after edits
  android/src/com/mapswithme/maps/editor/OsmLoginFragment.java
Labels: Android

#3614 [android] Add mandatory `locale` argument to Java string functions
  android/src/com/mapswithme/maps/dialog/EditTextDialogFragment.java
  android/src/com/mapswithme/maps/downloader/BottomPanel.java
  android/src/com/mapswithme/maps/downloader/CountryItem.java
  android/src/com/mapswithme/maps/downloader/CountrySuggestFragment.java
  android/src/com/mapswithme/maps/downloader/DownloaderAdapter.java
  android/src/com/mapswithme/maps/downloader/OnmapDownloader.java
  android/src/com/mapswithme/maps/editor/data/HoursMinutes.java
  android/src/com/mapswithme/maps/help/HelpFragment.java
  android/src/com/mapswithme/maps/intent/Factory.java
  android/src/com/mapswithme/maps/maplayer/SearchWheel.java
  android/src/com/mapswithme/maps/routing/NavigationService.java
  android/src/com/mapswithme/maps/widget/placepage/PlacePageView.java
  android/src/com/mapswithme/util/HttpClient.java
  android/src/com/mapswithme/util/StringUtils.java
  android/src/com/mapswithme/util/Utils.java
  android/src/com/mapswithme/util/log/LogsManager.java
Labels: Android, Refactoring

#3666 [android] fix crash on exit splitscreen
  android/src/com/mapswithme/maps/MwmActivity.java
  android/src/com/mapswithme/maps/maplayer/MapButtonsController.java
Labels: Android

#3704 [android] fix position button hidden in routing mode
  android/src/com/mapswithme/maps/widget/menu/MyPositionButton.java
Labels: Android

#3706 [android] call onSlideFinish only when bottomsheet is settled
  android/src/com/mapswithme/maps/widget/placepage/BottomSheetChangedListener.java
  android/src/com/mapswithme/maps/widget/placepage/DefaultBottomSheetCallback.java
  android/src/com/mapswithme/maps/widget/placepage/RichPlacePageController.java
  android/src/com/mapswithme/maps/widget/placepage/SimplePlacePageController.java
Labels: Android

#3714 [android] fix place page bold title
  android/res/layout/activity_splash.xml
  android/res/values/styles-text.xml
Labels: Android, UI
