Repository organicmaps/organicmaps, pull requests merged in 2023-11, with the labels that each got.

#6495 [android-auto] fix start routing
  android/app/src/main/java/app/organicmaps/car/screens/PlaceScreen.java
Labels: AndroidAuto

#6514 [android] Fix color in time picker
  android/app/src/main/res/layout/fragment_timetable_picker.xml
Labels: Android, Night Mode, Opening Hours

#6531 Fix sed syntax error
  tools/unix/generate_localizations.sh
Labels: Bug, Linux Desktop

#6529 Add Chinese translations per 南山少帅Felix in chat
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values-zh/strings.xml
  data/strings/strings.txt
Labels: Translations

#6496 [platform] Disable DownloaderSimplePost test
  platform/platform_tests/downloader_tests/downloader_test.cpp
Labels: Downloader

#6552 [android] Remove buildToolsVersion
  android/app/build.gradle
  android/build.gradle
  android/gradle.properties
Labels: Android, Tests

#6573 [ios] Fix: show FAQ sceen after About when educational hint is enabled
  iphone/Maps/UI/BottomMenu/TabBar/BottomTabBarInteractor.swift
  iphone/Maps/UI/Help/AboutController.swift
Labels: Enhancement, iOS, UI

#6551 [android] Rework download activity layout
  android/app/src/main/res/layout-land/activity_download_resources.xml
  android/app/src/main/res/layout/activity_download_resources.xml
Labels: Android, Downloader, UI

#6556 [android] Refactor API and Intent processing
  android/app/src/main/cpp/app/organicmaps/Framework.cpp
  android/app/src/main/java/app/organicmaps/DownloadResourcesLegacyActivity.java
  android/app/src/main/java/app/organicmaps/Framework.java
  android/app/src/main/java/app/organicmaps/MapPlaceholderActivity.java
  android/app/src/main/java/app/organicmaps/MwmActivity.java
  android/app/src/main/java/app/organicmaps/SplashActivity.java
  android/app/src/main/java/app/organicmaps/api/ParsedMwmRequest.java
  android/app/src/main/java/app/organicmaps/base/BaseMwmFragmentActivity.java
  android/app/src/main/java/app/organicmaps/bookmarks/BookmarksListFragment.java
  android/app/src/main/java/app/organicmaps/downloader/DownloaderAdapter.java
  android/app/src/main/java/app/organicmaps/intent/Factory.java
  android/app/src/main/java/app/organicmaps/intent/IntentProcessor.java
  android/app/src/main/java/app/organicmaps/intent/MapTask.java
  android/app/src/main/java/app/organicmaps/search/SearchEngine.java
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageController.java
  map/framework.cpp
  map/framework.hpp
Labels: Android, API

#6597 [drape] Always draw house numbers in z17+.
  drape_frontend/stylist.cpp
  indexer/scales.cpp
Labels: Styles

#6615 [feature] Select the best POI's type by drawing rule's priority.
  drape_frontend/apply_feature_functors.cpp
  drape_frontend/apply_feature_functors.hpp
  indexer/drawing_rule_def.hpp
  indexer/drawing_rules.cpp
  indexer/drawing_rules.hpp
  indexer/feature_data.cpp
  indexer/feature_data.hpp
  indexer/indexer_tests/feature_types_test.cpp
  map/style_tests/classificator_tests.cpp
Labels: Styles

#6632 [android] Fix ClassNotFoundException .bookmarks.data.BookmarkCategory
  android/app/src/main/java/app/organicmaps/bookmarks/BookmarkCategorySettingsFragment.java
  android/app/src/main/java/app/organicmaps/bookmarks/BookmarkListActivity.java
  android/app/src/main/java/app/organicmaps/bookmarks/BookmarksListFragment.java
  android/app/src/main/java/app/organicmaps/editor/FeatureCategoryFragment.java
  android/app/src/main/java/app/organicmaps/editor/HoursMinutesPickerFragment.java
  android/app/src/main/java/app/organicmaps/util/Utils.java
  android/app/src/main/java/app/organicmaps/widget/placepage/DirectionFragment.java
Labels: Android, CrashReports, Regression

#6610 [android] Don't show snackbar on Android 13 after copy
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageUtils.java
  android/app/src/main/java/app/organicmaps/widget/placepage/sections/PlacePageBookmarkFragment.java
  android/app/src/main/java/app/organicmaps/widget/placepage/sections/PlacePhoneAdapter.java
Labels: Android

#6427 [android] Dismiss spinner when user aborts downloading area
  android/app/src/main/java/app/organicmaps/routing/RoutingErrorDialogFragment.java
Labels: Bug, Android, Downloader

#6404 [ci] Add test coverage check
  .github/workflows/coverage-check.yaml
  .github/workflows/linux-check.yaml
  .github/workflows/macos-check.yaml
  CMakeLists.txt
  cmake/OmimCoverage.cmake
  cmake/OmimTesting.cmake
  docs/INSTALL.md
  gcovr.cfg
Labels: Coverage

#6342 [android] Use system locale for map size and download progress strings
  android/app/src/main/java/app/organicmaps/downloader/CountrySuggestFragment.java
  android/app/src/main/java/app/organicmaps/downloader/OnmapDownloader.java
  android/app/src/main/java/app/organicmaps/util/StringUtils.java
Labels: Android

#6649 [docs][android] Add Android Auto development instructions
  docs/INSTALL.md
Labels: Documentation, Android

#6647 [map] Fix the viewport when opening a geo: link
  map/framework.cpp
  map/framework.hpp
  map/mwm_url.cpp
Labels: API, Regression

#6690 [android] Enable Java 17 language features
  android/app/build.gradle
Labels: Android, Build, DevEx

#6704 [ios] Remove the grabber for the PlacePage view on iPad
  iphone/Maps/UI/PlacePage/Components/PlacePageHeader/PlacePageHeaderViewController.swift
  iphone/Maps/UI/PlacePage/PlacePage.storyboard
Labels: Enhancement, iOS, UI

#6706 [ios] Fix background color for search cells selected state
  iphone/Maps/Core/Theme/GlobalStyleSheet.swift
Labels: Enhancement, iOS, UI

#6634 [android] Enable Address Sanitizer (ASAN) for debug and beta
  android/app/src/beta/AndroidManifest.xml
  android/app/src/debug/AndroidManifest.xml
Labels: Android

#6549 [android] Refactor bookmark list settings layout
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/organicmaps/bookmarks/BookmarkCategorySettingsFragment.java
  android/app/src/main/res/drawable-hdpi/ic_clear_rounded.webp
  android/app/src/main/res/drawable-hdpi/ic_clear_rounded_night.webp
  android/app/src/main/res/drawable-mdpi/ic_clear_rounded.webp
  android/app/src/main/res/drawable-mdpi/ic_clear_rounded_night.webp
  android/app/src/main/res/drawable-xhdpi/ic_clear_rounded.webp
  android/app/src/main/res/drawable-xhdpi/ic_clear_rounded_night.webp
  android/app/src/main/res/drawable-xxhdpi/ic_clear_rounded.webp
  android/app/src/main/res/drawable-xxhdpi/ic_clear_rounded_night.webp
  android/app/src/main/res/drawable-xxxhdpi/ic_clear_rounded.webp
  android/app/src/main/res/drawable-xxxhdpi/ic_clear_rounded_night.webp
  android/app/src/main/res/drawable/ic_clear_rounded.xml
  android/app/src/main/res/layout-land/fragment_osm_login.xml
  android/app/src/main/res/layout/fragment_bookmark_category_settings.xml
  android/app/src/main/res/values/themes-base.xml
Labels: Android, UI
