Repository organicmaps/organicmaps, pull requests merged in 2023-02, with the labels that each got.

#4387 [editor] Migrate mapsme to omaps
  data/config.xsd
  data/editor.config
  editor/editor_config.cpp
  editor/editor_tests/config_loader_test.cpp
  editor/editor_tests/osm_editor_test.cpp
  editor/editor_tests/osm_editor_test.hpp
  editor/osm_editor.cpp
Labels: Editor

#4484 [android-auto] Layout change fix
  android/src/app/organicmaps/car/SurfaceRenderer.java
Labels: AndroidAuto

#4458 android: fix map buttons shown when going back from editor
  android/src/app/organicmaps/maplayer/MapButtonsController.java
Labels: Android

#4569 [android] Fix type of error message for building levels field
  android/src/app/organicmaps/editor/EditorFragment.java
  android/src/app/organicmaps/util/UiUtils.java
Labels: Android
