Repository organicmaps/organicmaps, pull requests merged in 2023-12, with the labels that each got.

#6748 Display website in Place Page without http(s):// prefixes and trailing slashes
  android/app/src/main/java/app/organicmaps/bookmarks/data/Metadata.java
  android/app/src/main/java/app/organicmaps/widget/placepage/sections/PlacePageLinksFragment.java
  data/editor.config
  iphone/Maps/UI/PlacePage/Components/PlacePageInfoViewController.swift
Labels: UI

#6685 [android] Remove HeightLimitedFrameLayout
  android/app/src/main/java/app/organicmaps/widget/HeightLimitedFrameLayout.java
  android/app/src/main/res/layout/fragment_suggest_country_download.xml
Labels: Android, UI

#6250 [android-auto] Fix PendingIntent crash
  android/app/src/main/java/app/organicmaps/MapPlaceholderActivity.java
  android/app/src/main/java/app/organicmaps/MwmActivity.java
  android/app/src/main/java/app/organicmaps/car/CarAppSession.java
Labels: AndroidAuto

#6765 [android] Add feedback fab
  android/app/src/main/java/app/organicmaps/help/FaqFragment.java
  android/app/src/main/res/drawable/ic_feedback.xml
  android/app/src/main/res/layout/feedback_fab.xml
  android/app/src/main/res/layout/fragment_prefs_faq.xml
Labels: Android, UI

#6636 [ios] fix the Search screen layout on iPad
  iphone/Maps/Classes/MapViewController.h
  iphone/Maps/UI/Search/MWMSearchManager+Layout.m
  iphone/Maps/UI/Search/MWMSearchManager.h
  iphone/Maps/UI/Search/MWMSearchManager.mm
  iphone/Maps/UI/Storyboard/Main.storyboard
Labels: iOS

#6806 [ios] Increase PlacePage TabButton tap interaction area
  iphone/Maps/UI/PlacePage/PlacePageLayout/ActionBar/MWMActionBarButton.m
Labels: iOS

#6613 [kml] Load all kmls from kmz file
  data/kml_test_data/BACRNKMZ.kmz
  map/bookmark_helpers.cpp
  map/bookmark_helpers.hpp
  map/bookmark_manager.cpp
  map/map_tests/kmz_unarchive_test.cpp
Labels: Bookmarks and Tracks

#6853 [search] Fixed possible crash.
  search/ranker.cpp
  search/ranking_utils.hpp
Labels: Search

#6674 [android] Respect the 'Keep the screen on' setting regardless of the current location mode + fixes
  android/app/src/main/java/app/organicmaps/MwmActivity.java
  android/app/src/main/java/app/organicmaps/settings/SettingsPrefsFragment.java
  android/app/src/main/java/app/organicmaps/util/Utils.java
Labels: Android

#6776 [android] Improved touch target size
  android/app/src/main/java/app/organicmaps/bookmarks/BookmarkListAdapter.java
  android/app/src/main/res/layout/dialog_edit_text.xml
  android/app/src/main/res/layout/dialog_sorting_types.xml
  android/app/src/main/res/layout/edit_bookmark_common.xml
  android/app/src/main/res/layout/fragment_driving_options.xml
  android/app/src/main/res/layout/fragment_edit_description.xml
  android/app/src/main/res/layout/item_bookmark_category.xml
  android/app/src/main/res/layout/item_bookmark_collection.xml
  android/app/src/main/res/layout/item_category_description.xml
  android/app/src/main/res/layout/item_cuisine.xml
  android/app/src/main/res/layout/item_editor_input.xml
  android/app/src/main/res/layout/item_localized_name.xml
  android/app/src/main/res/layout/item_street.xml
  android/app/src/main/res/layout/item_timetable.xml
  android/app/src/main/res/layout/item_timetable_add.xml
  android/app/src/main/res/layout/onmap_downloader.xml
  android/app/src/main/res/layout/place_page_preview.xml
  android/app/src/main/res/layout/toolbar_search_controls.xml
Labels: Android, UI

#6990 [android] Improve looks of sound drawables
  android/app/src/main/res/drawable-hdpi/ic_voice_off.webp
  android/app/src/main/res/drawable-hdpi/ic_voice_on.webp
  android/app/src/main/res/drawable-mdpi/ic_voice_off.webp
  android/app/src/main/res/drawable-mdpi/ic_voice_on.webp
  android/app/src/main/res/drawable-xhdpi/ic_voice_off.webp
  android/app/src/main/res/drawable-xhdpi/ic_voice_on.webp
  android/app/src/main/res/drawable-xxhdpi/ic_voice_off.webp
  android/app/src/main/res/drawable-xxhdpi/ic_voice_on.webp
  android/app/src/main/res/drawable-xxxhdpi/ic_voice_off.webp
  android/app/src/main/res/drawable-xxxhdpi/ic_voice_on.webp
  android/app/src/main/res/drawable/ic_voice_off.xml
  android/app/src/main/res/drawable/ic_voice_on.xml
Labels: Android, AndroidAuto
