Repository organicmaps/organicmaps, pull requests merged in 2023-10, with the labels that each got.

#6180 [drape] Minor Texture fixes. Moved pixel buffer vars into OpenGLHWTexture.
  drape/hw_texture.cpp
  drape/hw_texture.hpp
  drape/hw_texture_ios.mm
  drape/metal/metal_texture.hpp
  drape/metal/metal_texture.mm
  drape/texture.cpp
  drape/texture.hpp
  drape/texture_types.hpp
  drape/vulkan/vulkan_texture.cpp
  drape/vulkan/vulkan_texture.hpp
Labels: Drape

#6204 [android-auto] Fix deprecation warning in CarAppService
  android/app/src/main/java/app/organicmaps/car/CarAppService.java
Labels: AndroidAuto

#6163 [android-auto] Widgets fix
  android/app/src/main/java/app/organicmaps/Map.java
  android/app/src/main/java/app/organicmaps/car/SurfaceRenderer.java
  drape_frontend/gui/layer_render.cpp
  iphone/Maps/Classes/Widgets/MWMMapWidgets.mm
  qt/qt_common/map_widget.cpp
Labels: Android, iOS, AndroidAuto

#6388 [search] Support all brands (not only categories_brands.txt).
  generator/search_index_builder.cpp
  indexer/brands_holder.cpp
  indexer/brands_holder.hpp
  search/ranker.cpp
  search/search_integration_tests/processor_test.cpp
Labels: Search

#6206 [android-auto] Increase minCarApiLevel
  android/app/src/main/AndroidManifest.xml
Labels: AndroidAuto
