Repository organicmaps/organicmaps, pull requests merged in 2024-10, with the labels that each got.

#9458 [xcode] Remove qt project
  xcode/omim.xcworkspace/contents.xcworkspacedata
  xcode/qt/qt.xcodeproj/project.pbxproj
Labels: Mac OS

#9466 [xcode] Remove qt/Info.plist
  xcode/qt/Info.plist
Labels: Mac OS

#9490 [ios] Log app name and bundle id on the app start
  iphone/Maps/main.mm
  platform/platform_ios.mm
Labels: iOS

#9512 Prompt users for OSM login fix
  android/app/src/main/java/app/organicmaps/editor/EditorHostFragment.java
  android/app/src/main/java/app/organicmaps/editor/FeatureCategoryActivity.java
Labels: Android, Editor

#9464 [map] Remove Duration and File Rotation from the track recording
  map/gps_track.cpp
  map/gps_track.hpp
  map/gps_track_collection.cpp
  map/gps_track_collection.hpp
  map/gps_track_storage.cpp
  map/gps_track_storage.hpp
  map/gps_tracker.cpp
  map/gps_tracker.hpp
  map/map_tests/gps_track_collection_test.cpp
  map/map_tests/gps_track_storage_test.cpp
  map/map_tests/gps_track_test.cpp
Labels: Core, Track Recording

#9257 After deleting the last track in a category, the category itself is now deleted
  android/app/src/main/java/app/organicmaps/bookmarks/BookmarkListAdapter.java
  android/app/src/main/java/app/organicmaps/bookmarks/data/CategoryDataSource.java
  android/app/src/main/java/app/organicmaps/content/DataSource.java
Labels: Bug, Android, Bookmarks and Tracks
