Repository organicmaps/organicmaps, pull requests merged in 2024-09, with the labels that each got.

#9072 [search] Process area highways for address matching.
  data/osm_test_data/addr_area_street.osm
  generator/generator_tests/raw_generator_test.cpp
  search/reverse_geocoder.cpp
  search/street_vicinity_loader.cpp
  search/street_vicinity_loader.hpp
Labels: Search

#9171 [ios] Prevent location updates from pausing in the background during navigation or track recording.
  iphone/Maps/Core/Location/MWMLocationManager.mm
Labels: iOS, Track Recording, GPS

#9175 Save `TrackRecording`'s timestamps and altitudes
  map/bookmark_manager.cpp
  map/gps_track.cpp
  map/gps_track.hpp
  map/gps_tracker.cpp
  map/gps_tracker.hpp
Labels: Core, Track Recording

#9366 [ios] dark and tinted appicons
  iphone/Maps/Images.xcassets/AppIcon.appiconset/100.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/114.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/120.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/144.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/152.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/167.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/180.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/20.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/29.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/40.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/50.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/57.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/58.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/60.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/72.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/76.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/80.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/87.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/Contents.json
  iphone/Maps/Images.xcassets/AppIcon.appiconset/appicon_dark.png
  iphone/Maps/Images.xcassets/AppIcon.appiconset/appicon_tinted.png
Labels: iOS, UI

#9371 [android] Add LanesView
  android/app/src/main/java/app/organicmaps/car/util/LanesDrawable.java
  android/app/src/main/java/app/organicmaps/car/util/RoutingUtils.java
  android/app/src/main/java/app/organicmaps/routing/LanesAdapter.java
  android/app/src/main/java/app/organicmaps/routing/NavigationController.java
  android/app/src/main/java/app/organicmaps/routing/SingleLaneInfo.java
  android/app/src/main/java/app/organicmaps/widget/LanesDrawable.java
  android/app/src/main/java/app/organicmaps/widget/LanesView.java
  android/app/src/main/res/layout-land/layout_nav_top.xml
  android/app/src/main/res/layout/layout_nav_top.xml
  android/app/src/main/res/layout/nav_lanes.xml
  android/app/src/main/res/layout/nav_single_lane.xml
  android/app/src/main/res/values-land/fractions.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/fractions.xml
  android/app/src/main/res/values/themes-attrs.xml
  android/app/src/main/res/values/themes-base.xml
Labels: Android, Android Auto
