Repository organicmaps/organicmaps, pull requests merged in 2025-09, with the labels that each got.

#11285 [android] Roundabout icons with numbers
  android/app/src/main/java/app/organicmaps/car/util/RoutingHelpers.java
  android/app/src/main/java/app/organicmaps/routing/NavigationController.java
  android/app/src/main/res/layout-land/layout_nav_top.xml
  android/app/src/main/res/layout/layout_nav_top.xml
  android/sdk/src/main/java/app/organicmaps/sdk/routing/CarDirection.java
  android/sdk/src/main/java/app/organicmaps/sdk/util/RoundaboutExit.java
  android/sdk/src/main/res/drawable-hdpi/ic_then_round.webp
  android/sdk/src/main/res/drawable-hdpi/ic_turn_round.webp
  android/sdk/src/main/res/drawable-mdpi/ic_then_round.webp
  android/sdk/src/main/res/drawable-mdpi/ic_turn_round.webp
  android/sdk/src/main/res/drawable-xhdpi/ic_then_round.webp
  android/sdk/src/main/res/drawable-xhdpi/ic_turn_round.webp
  android/sdk/src/main/res/drawable-xxhdpi/ic_then_round.webp
  android/sdk/src/main/res/drawable-xxhdpi/ic_turn_round.webp
  android/sdk/src/main/res/drawable-xxxhdpi/ic_then_round.webp
  android/sdk/src/main/res/drawable-xxxhdpi/ic_turn_round.webp
  android/sdk/src/main/res/drawable/ic_roundabout_exit_1.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_10.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_11.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_12.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_2.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_3.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_4.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_5.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_6.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_7.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_8.xml
  android/sdk/src/main/res/drawable/ic_roundabout_exit_9.xml
  android/sdk/src/main/res/drawable/ic_turn_round.xml
Labels: Android, Icons, Android Auto

#11383 [android] Remove multidex config
  android/app/multidex-config.txt
Labels: Android

#11395 [android] Add missing service type to NavigationService
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/organicmaps/routing/NavigationService.java
Labels: Android

#11399 [android] Fix SpeedLimitView margin
  android/app/src/main/java/app/organicmaps/routing/NavigationController.java
  android/app/src/main/res/layout/layout_nav_top.xml
Labels: Android

#11357 [ios] Fix route points reordering when there is only 1 point
  iphone/Maps/Classes/CustomViews/NavigationDashboard/Views/NavigationDashboardInteractor.swift
  iphone/Maps/Classes/CustomViews/NavigationDashboard/Views/NavigationDashboardRequest.swift
  iphone/Maps/Classes/CustomViews/NavigationDashboard/Views/RoutePreview/RoutePoints/RoutePointCollectionViewCell.swift
  iphone/Maps/Classes/CustomViews/NavigationDashboard/Views/RoutePreview/RoutePoints/RoutePoints.swift
  iphone/Maps/Classes/CustomViews/NavigationDashboard/Views/RoutePreview/RoutePoints/RoutePointsView.swift
  iphone/Maps/Core/Routing/MWMRouter.h
  iphone/Maps/Core/Routing/MWMRouter.mm
Labels: iOS, UI

#11409 [drape] Reload symbols texture when DPI changed.
  libs/drape/symbols_texture.cpp
  libs/drape/symbols_texture.hpp
  libs/drape/texture.hpp
  libs/drape/texture_manager.cpp
  libs/drape/texture_manager.hpp
  libs/drape_frontend/backend_renderer.cpp
  libs/drape_frontend/backend_renderer.hpp
  libs/drape_frontend/drape_engine.cpp
  libs/drape_frontend/frontend_renderer.cpp
  libs/drape_frontend/frontend_renderer.hpp
  libs/drape_frontend/message.cpp
  libs/drape_frontend/message.hpp
  libs/drape_frontend/message_subclasses.hpp
Labels: Beta

#11432 [android] Fix speed limit view
  android/app/src/main/java/app/organicmaps/routing/NavigationController.java
Labels: Android

#11436 [android-auto] Fix routing arrow offset
  android/app/src/main/java/app/organicmaps/car/renderer/SurfaceCallback.java
  android/app/src/main/java/app/organicmaps/car/renderer/SurfaceRenderer.java
Labels: Android Auto

#11433 [android-auto] Fix display switching in navigation mode
  android/app/src/main/java/app/organicmaps/car/CarAppSession.java
  android/app/src/main/java/app/organicmaps/car/screens/NavigationScreen.java
  android/app/src/main/java/app/organicmaps/car/screens/PlaceScreen.java
Labels: Android Auto

#11434 [ios] Delete track recording
  iphone/Maps/Core/TrackRecorder/TrackRecordingManager.swift
  iphone/Maps/UI/PlacePage/Components/ActionBarViewController.swift
  iphone/Maps/UI/PlacePage/PlacePageInteractor.swift
  iphone/Maps/UI/PlacePage/PlacePageLayout/ActionBar/MWMActionBarButton.h
  iphone/Maps/UI/PlacePage/PlacePageLayout/ActionBar/MWMActionBarButton.m
Labels: iOS, Track Recording

#11430 [android-auto] Show speed limit
  android/app/src/main/java/app/organicmaps/car/renderer/Renderer.java
  android/app/src/main/java/app/organicmaps/car/renderer/SurfaceCallback.java
  android/app/src/main/java/app/organicmaps/car/renderer/SurfaceCallbackBase.java
  android/app/src/main/java/app/organicmaps/car/renderer/SurfaceRenderer.java
  android/app/src/main/java/app/organicmaps/car/renderer/SurfaceRendererLegacy.java
  android/app/src/main/java/app/organicmaps/car/screens/NavigationScreen.java
  android/app/src/main/java/app/organicmaps/widget/SpeedLimitView.java
Labels: Android Auto
