Repository organicmaps/organicmaps, pull requests merged in 2025-07, with the labels that each got.

#10726 [ios] Fix elevation chart failing on update
  iphone/Chart/Chart/Views/ChartLineView.swift
  iphone/Chart/Chart/Views/ChartPreviewView.swift
Labels: iOS, Track Recording

#10818 [android][sdk] Move Android7RootCertificateWorkaround into sdk package
  android/app/src/main/java/app/organicmaps/MwmApplication.java
  android/app/src/main/java/app/organicmaps/sdk/OrganicMaps.java
  android/app/src/main/java/app/organicmaps/sdk/downloader/Android7RootCertificateWorkaround.java
  android/app/src/main/java/app/organicmaps/sdk/downloader/ChunkTask.java
  android/app/src/main/java/app/organicmaps/sdk/util/HttpClient.java
  android/sdk/src/main/res/raw/globalsignr4
  android/sdk/src/main/res/raw/gtsrootr1
  android/sdk/src/main/res/raw/gtsrootr2
  android/sdk/src/main/res/raw/gtsrootr3
  android/sdk/src/main/res/raw/gtsrootr4
  android/sdk/src/main/res/raw/isrgrootx1
Labels: Android

#10854 [android] Hot fix for broken OnBackPressed
  android/app/src/main/AndroidManifest.xml
Labels: Android

#10857 [android] Migrate DownloaderActivity to OnBackPressedCallback
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/organicmaps/downloader/DownloaderActivity.java
  android/app/src/main/java/app/organicmaps/downloader/DownloaderAdapter.java
  android/app/src/main/java/app/organicmaps/downloader/DownloaderFragment.java
  android/app/src/main/java/app/organicmaps/widget/SearchToolbarController.java
Labels: Android

#10812 [android][sdk] Refactor shared preferences
  android/app/src/main/java/app/organicmaps/MwmActivity.java
  android/app/src/main/java/app/organicmaps/MwmApplication.java
  android/app/src/main/java/app/organicmaps/background/OsmUploadWork.java
  android/app/src/main/java/app/organicmaps/editor/EditorHostFragment.java
  android/app/src/main/java/app/organicmaps/editor/OsmLoginFragment.java
  android/app/src/main/java/app/organicmaps/editor/ProfileFragment.java
  android/app/src/main/java/app/organicmaps/maplayer/LayersAdapter.java
  android/app/src/main/java/app/organicmaps/maplayer/ToggleMapLayerFragment.java
  android/app/src/main/java/app/organicmaps/sdk/OrganicMaps.java
  android/app/src/main/java/app/organicmaps/sdk/editor/Editor.java
  android/app/src/main/java/app/organicmaps/sdk/editor/OsmOAuth.java
  android/app/src/main/java/app/organicmaps/sdk/util/Config.java
  android/app/src/main/java/app/organicmaps/sdk/util/SharedPropertiesUtils.java
  android/app/src/main/java/app/organicmaps/sdk/util/log/LogsManager.java
  android/app/src/main/java/app/organicmaps/search/SearchFragment.java
  android/app/src/main/java/app/organicmaps/settings/SettingsPrefsFragment.java
  android/app/src/main/res/values/donottranslate.xml
  android/sdk/src/main/res/values/donottranslate.xml
Labels: Android

#10758 [map] Fix zoom on selected/saved track
  map/framework.cpp
Labels: UI

#10883 [ios] Save log.txt file to the root documents directory
  iphone/CoreApi/CoreApi/Logger/Logger.mm
Labels: iOS

#10944 [android] Load TTS languages from core
  android/app/src/main/java/app/organicmaps/sdk/sound/TtsPlayer.java
  android/app/src/main/res/values/strings-tts.xml
  android/sdk/src/main/cpp/app/organicmaps/sdk/sound/tts.cpp
  platform/languages.hpp
Labels: Android

#10960 [android] Fix collor selector issue
  android/app/src/main/java/app/organicmaps/widget/placepage/BookmarkColorDialogFragment.java
  android/app/src/main/java/app/organicmaps/widget/placepage/EditBookmarkFragment.java
Labels: Android

#10961 [android] Show bookmark icon in color selector
  android/app/src/main/java/app/organicmaps/bookmarks/BookmarksListFragment.java
  android/app/src/main/java/app/organicmaps/bookmarks/ColorsAdapter.java
  android/app/src/main/java/app/organicmaps/sdk/bookmarks/data/Icon.java
  android/app/src/main/java/app/organicmaps/widget/placepage/BookmarkColorDialogFragment.java
  android/app/src/main/java/app/organicmaps/widget/placepage/EditBookmarkFragment.java
Labels: Android

#10871 [android][sdk] Refactoring
  android/app/src/main/java/app/organicmaps/MapFragment.java
  android/app/src/main/java/app/organicmaps/MwmActivity.java
  android/app/src/main/java/app/organicmaps/MwmApplication.java
  android/app/src/main/java/app/organicmaps/car/CarAppSession.java
  android/app/src/main/java/app/organicmaps/car/SurfaceRenderer.java
  android/app/src/main/java/app/organicmaps/car/screens/NavigationScreen.java
  android/app/src/main/java/app/organicmaps/car/screens/PlaceScreen.java
  android/app/src/main/java/app/organicmaps/car/util/CurrentCountryChangedListener.java
  android/app/src/main/java/app/organicmaps/car/util/IntentUtils.java
  android/app/src/main/java/app/organicmaps/car/util/ThemeUtils.java
  android/app/src/main/java/app/organicmaps/downloader/DownloaderAdapter.java
  android/app/src/main/java/app/organicmaps/downloader/OnmapDownloader.java
  android/app/src/main/java/app/organicmaps/intent/Factory.java
  android/app/src/main/java/app/organicmaps/maplayer/MapButtonsController.java
  android/app/src/main/java/app/organicmaps/maplayer/SearchWheel.java
  android/app/src/main/java/app/organicmaps/maplayer/ToggleMapLayerFragment.java
  android/app/src/main/java/app/organicmaps/routing/BaseRoutingErrorDialogFragment.java
  android/app/src/main/java/app/organicmaps/routing/ManageRouteBottomSheet.java
  android/app/src/main/java/app/organicmaps/routing/NavigationController.java
  android/app/src/main/java/app/organicmaps/routing/NavigationService.java
  android/app/src/main/java/app/organicmaps/routing/RoutingBottomMenuController.java
  android/app/src/main/java/app/organicmaps/routing/RoutingMapsDownloadFragment.java
  android/app/src/main/java/app/organicmaps/routing/RoutingPlanController.java
  android/app/src/main/java/app/organicmaps/routing/RoutingPlanFragment.java
  android/app/src/main/java/app/organicmaps/sdk/Map.java
  android/app/src/main/java/app/organicmaps/sdk/OrganicMaps.java
  android/app/src/main/java/app/organicmaps/sdk/api/RequestType.java
  android/app/src/main/java/app/organicmaps/sdk/location/LocationHelper.java
  android/app/src/main/java/app/organicmaps/sdk/maplayer/Mode.java
  android/app/src/main/java/app/organicmaps/sdk/maplayer/isolines/IsolinesManager.java
  android/app/src/main/java/app/organicmaps/sdk/maplayer/isolines/IsolinesState.java
  android/app/src/main/java/app/organicmaps/sdk/maplayer/isolines/OnIsolinesChangedListener.java
  android/app/src/main/java/app/organicmaps/sdk/routing/RoutingController.java
  android/app/src/main/java/app/organicmaps/sdk/settings/StorageItem.java
  android/app/src/main/java/app/organicmaps/sdk/settings/StoragePathManager.java
  android/app/src/main/java/app/organicmaps/sdk/util/Config.java
  android/app/src/main/java/app/organicmaps/sdk/util/Constants.java
  android/app/src/main/java/app/organicmaps/sdk/widget/placepage/CoordinatesFormat.java
  android/app/src/main/java/app/organicmaps/search/SearchFragment.java
  android/app/src/main/java/app/organicmaps/search/SearchHistoryAdapter.java
  android/app/src/main/java/app/organicmaps/search/SearchHistoryFragment.java
  android/app/src/main/java/app/organicmaps/settings/DrivingOptionsFragment.java
  android/app/src/main/java/app/organicmaps/settings/SettingsPrefsFragment.java
  android/app/src/main/java/app/organicmaps/settings/StoragePathAdapter.java
  android/app/src/main/java/app/organicmaps/settings/StoragePathFragment.java
  android/app/src/main/java/app/organicmaps/util/ThemeSwitcher.java
  android/app/src/main/java/app/organicmaps/util/Utils.java
  android/app/src/main/java/app/organicmaps/widget/placepage/ElevationProfileViewRenderer.java
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageController.java
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageView.java
Labels: Android

#11019 [ios] Disable track recording live activity widget for apps running on macos
  iphone/Maps/Core/TrackRecorder/TrackRecordingManager.swift
Labels: iOS

#11020 [ios] Check that pp data exists before update the TR PP screen
  iphone/CoreApi/CoreApi/PlacePageData/PlacePageData.mm
Labels: iOS, Track Recording
