Repository organicmaps/organicmaps, pull requests merged in 2025-01, with the labels that each got.

#9949 [android-auto] Check for world maps after init
  android/app/src/main/java/app/organicmaps/car/CarAppSession.java
  android/app/src/main/java/app/organicmaps/car/screens/download/DownloaderHelpers.java
Labels: Android Auto

#9953 [android-auto] Fix maps downloading in planning mode
  android/app/src/main/java/app/organicmaps/car/CarAppSession.java
  android/app/src/main/java/app/organicmaps/car/screens/download/DownloaderScreen.java
Labels: Android Auto

#9965 [android-auto] Put back location type for AA service
  android/app/src/main/AndroidManifest.xml
Labels: Android Auto

#9176 [android-auto] Add bookmarks sorting
  android/app/src/main/java/app/organicmaps/bookmarks/data/BookmarkManager.java
  android/app/src/main/java/app/organicmaps/car/screens/bookmarks/BookmarksLoader.java
  android/app/src/main/java/app/organicmaps/car/screens/bookmarks/BookmarksScreen.java
  android/app/src/main/java/app/organicmaps/car/screens/bookmarks/SortingScreen.java
Labels: Android Auto

#10033 Revert "[android-auto] Put back location type for AA service"
  android/app/src/main/AndroidManifest.xml
Labels: Android Auto

#10067 [android] Refactor cpp-java ui thread forwarding
  android/app/src/main/cpp/CMakeLists.txt
  android/app/src/main/cpp/app/organicmaps/MwmApplication.cpp
  android/app/src/main/cpp/app/organicmaps/platform/AndroidPlatform.cpp
  android/app/src/main/cpp/app/organicmaps/platform/AndroidPlatform.hpp
  android/app/src/main/cpp/app/organicmaps/platform/GuiThread.cpp
  android/app/src/main/cpp/app/organicmaps/platform/GuiThread.hpp
  android/app/src/main/cpp/app/organicmaps/util/UiThread.cpp
  android/app/src/main/java/app/organicmaps/MwmApplication.java
  android/app/src/main/java/app/organicmaps/util/concurrency/UiThread.java
Labels: Android

#10070 [ios] Fix iCloud bug with the missed file recreation during the cloud `update` event
  iphone/Maps/Core/iCloud/CloudDirectoryMonitor.swift
Labels: iOS

#10068 Use htmlmin2 to work on newer python versions
  tools/python/descriptions/requirements.txt
  tools/python/descriptions/requirements_dev.txt
Labels: Generator

#10053 [android-auto] Make AA background service
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/organicmaps/car/CarAppService.java
  android/app/src/main/res/values/donottranslate.xml
Labels: Android Auto

#10156 [ios] Fix track recording bug first appearnce bug
  iphone/Maps/Classes/CustomViews/MapViewControls/TrackRecordingViewController.swift
Labels: iOS, UI

#9242 Editor refactoring
  android/app/src/main/cpp/app/organicmaps/editor/Editor.cpp
  coding/string_utf8_multilang.cpp
  coding/string_utf8_multilang.hpp
  editor/osm_editor.cpp
  editor/osm_editor.hpp
  editor/xml_feature.cpp
  editor/xml_feature.hpp
  indexer/CMakeLists.txt
  indexer/edit_journal.cpp
  indexer/edit_journal.hpp
  indexer/editable_map_object.cpp
  indexer/editable_map_object.hpp
  indexer/feature_data.hpp
  indexer/feature_decl.cpp
  indexer/feature_decl.hpp
  map/framework.cpp
  xcode/indexer/indexer.xcodeproj/project.pbxproj
Labels: Editor
