Repository organicmaps/organicmaps, pull requests merged in 2025-06, with the labels that each got.

#10671 [ios] Add `save route as track` button to the route building screen
  iphone/CoreApi/CoreApi/Framework/MWMFrameworkHelper.h
  iphone/CoreApi/CoreApi/Framework/MWMFrameworkHelper.mm
  iphone/Maps/Classes/CustomViews/NavigationDashboard/MWMNavigationDashboardManager.mm
  iphone/Maps/Classes/CustomViews/NavigationDashboard/Views/RoutePreview/MWMiPhoneRoutePreview.xib
  iphone/Maps/Classes/CustomViews/NavigationDashboard/Views/RoutePreview/RoutePreviewStatus/BaseRoutePreviewStatus.swift
Labels: iOS, UI, Route Planning

#9946 [ios] [github] Add simulator pre-boot before running the tests
  .github/workflows/ios-check.yaml
Labels: iOS

#10691 [ios] Prevent iCloud sync from failing when the cloud file doesn't exist
  iphone/Maps/Core/iCloud/SynchronizationFileWriter.swift
Labels: iOS, iCloud

#10706 [android-auto] Fix RouteSimulationProvider
  android/app/src/main/java/app/organicmaps/location/RouteSimulationProvider.java
Labels: Android Auto

#10725 [ios] Fix `stop track recording` button action
  iphone/Maps/UI/BottomMenu/Menu/BottomMenuInteractor.swift
Labels: iOS, Track Recording

#10727 [ios] Disable elevation chart interaction when the chart data is empty
  iphone/Maps/UI/PlacePage/Components/ElevationProfile/ElevationProfilePresenter.swift
  iphone/Maps/UI/PlacePage/Components/ElevationProfile/ElevationProfileViewController.swift
Labels: iOS, Track Recording

#10728 [ios] remove spacing and separator from the Track recording Place page
  iphone/Maps/UI/PlacePage/PlacePageLayout/Layouts/IPlacePageLayout.swift
  iphone/Maps/UI/PlacePage/PlacePageLayout/Layouts/PlacePageTrackRecordingLayout.swift
  iphone/Maps/UI/PlacePage/PlacePageViewController.swift
Labels: iOS, Track Recording

#10746 [ios] Fix editor notes jumping
  iphone/Maps/UI/Editor/MWMEditorViewController.mm
Labels: iOS, UI

#10759 [map] Save points altitudes when saving route as a track
  android/app/src/main/cpp/app/organicmaps/Framework.cpp
  android/app/src/main/cpp/app/organicmaps/sdk/routing/JunctionInfo.hpp
  map/bookmark_manager.cpp
  map/bookmark_manager.hpp
  map/map_tests/bookmarks_test.cpp
  map/routing_manager.cpp
  routing/routing_session.cpp
  routing/routing_session.hpp
Labels: Route Planning

#10790 [android][sdk] Create empty SDK library
  android/app/build.gradle
  android/sdk/build.gradle
  android/sdk/src/main/assets/categories.txt
  android/sdk/src/main/assets/categories_brands.txt
  android/sdk/src/main/assets/categories_cuisines.txt
  android/sdk/src/main/assets/classificator.txt
  android/sdk/src/main/assets/colors.txt
  android/sdk/src/main/assets/countries-strings
  android/sdk/src/main/assets/countries.txt
  android/sdk/src/main/assets/drules_proto_default_dark.bin
  android/sdk/src/main/assets/drules_proto_default_light.bin
  android/sdk/src/main/assets/drules_proto_outdoors_dark.bin
  android/sdk/src/main/assets/drules_proto_outdoors_light.bin
  android/sdk/src/main/assets/drules_proto_vehicle_dark.bin
  android/sdk/src/main/assets/drules_proto_vehicle_light.bin
  android/sdk/src/main/assets/editor.config
  android/sdk/src/main/assets/fonts
  android/sdk/src/main/assets/icudt75l.dat
  android/sdk/src/main/assets/languages.txt
  android/sdk/src/main/assets/packed_polygons.bin
  android/sdk/src/main/assets/patterns.txt
  android/sdk/src/main/assets/resources-6plus_dark
  android/sdk/src/main/assets/resources-6plus_light
  android/sdk/src/main/assets/resources-default
  android/sdk/src/main/assets/resources-hdpi_dark
  android/sdk/src/main/assets/resources-hdpi_light
  android/sdk/src/main/assets/resources-mdpi_dark
  android/sdk/src/main/assets/resources-mdpi_light
  android/sdk/src/main/assets/resources-xhdpi_dark
  android/sdk/src/main/assets/resources-xhdpi_light
  android/sdk/src/main/assets/resources-xxhdpi_dark
  android/sdk/src/main/assets/resources-xxhdpi_light
  android/sdk/src/main/assets/resources-xxxhdpi_dark
  android/sdk/src/main/assets/resources-xxxhdpi_light
  android/sdk/src/main/assets/sound-strings
  android/sdk/src/main/assets/transit_colors.txt
  android/sdk/src/main/assets/types.txt
  android/sdk/src/main/assets/vulkan_shaders
  android/settings.gradle
Labels: Android

#10811 Revert "[ci] Remove cleanup caches workflow"
  .github/workflows/cleanup_caches.yml
Labels: DevOps
