Repository organicmaps/organicmaps, pull requests merged in 2025-10, with the labels that each got.

#11465 Revert "[ios] Fix iOS26 search bars appearance and layout"
  iphone/Maps/Bookmarks/BookmarksList/BookmarksListViewController.swift
  iphone/Maps/Bookmarks/BookmarksList/BookmarksListViewController.xib
  iphone/Maps/Core/Theme/CornerRadius.swift
  iphone/Maps/Core/Theme/GlobalStyleSheet.swift
  iphone/Maps/Core/Theme/Renderers/UISearchBarRenderer.swift
  iphone/Maps/UI/Downloader/DownloadMapsViewController.swift
  iphone/Maps/UI/Editor/MWMObjectsCategorySelectorController.mm
  iphone/Maps/UI/Search/SearchOnMap/SearchOnMapHeaderView.swift
  iphone/Maps/UI/Storyboard/Main.storyboard
Labels: iOS

#11215 [android][core] Place Page for TrackRecording
  android/app/src/main/java/app/organicmaps/ChartController.java
  android/app/src/main/java/app/organicmaps/MwmActivity.java
  android/app/src/main/java/app/organicmaps/widget/placepage/ElevationProfileViewRenderer.java
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageButtonFactory.java
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageButtons.java
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageController.java
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageView.java
  android/app/src/main/java/app/organicmaps/widget/placepage/sections/PlacePageTrackFragment.java
  android/app/src/main/java/app/organicmaps/widget/placepage/sections/PlacePageTrackRecordingFragment.java
  android/app/src/main/res/drawable/ic_track_recording_off.xml
  android/app/src/main/res/layout/elevation_profile_internal.xml
  android/sdk/src/main/cpp/app/organicmaps/sdk/TrackRecorder.cpp
  android/sdk/src/main/java/app/organicmaps/sdk/bookmarks/data/MapObject.java
  android/sdk/src/main/java/app/organicmaps/sdk/bookmarks/data/Track.java
  android/sdk/src/main/java/app/organicmaps/sdk/bookmarks/data/TrackRecording.java
  android/sdk/src/main/java/app/organicmaps/sdk/location/TrackRecorder.java
Labels: Android, Track Recording

#11237 GeoJson import support
  android/app/src/main/AndroidManifest.xml
  android/sdk/src/main/cpp/app/organicmaps/sdk/Framework.cpp
  android/sdk/src/main/java/app/organicmaps/sdk/bookmarks/data/BookmarkManager.java
  iphone/CoreApi/CoreApi/Bookmarks/MWMBookmarksManager.mm
  iphone/CoreApi/CoreApi/Common/MWMTypes.h
  iphone/Maps/OMaps.plist
  iphone/Maps/UI/DocumentPicker/DocumentPicker.swift
  iphone/Maps/UI/DocumentPicker/FileType.swift
  libs/kml/CMakeLists.txt
  libs/kml/color_parser.cpp
  libs/kml/color_parser.hpp
  libs/kml/kml_tests/CMakeLists.txt
  libs/kml/kml_tests/geojson_tests.cpp
  libs/kml/serdes_geojson.cpp
  libs/kml/serdes_geojson.hpp
  libs/map/bookmark_helpers.cpp
  libs/map/bookmark_helpers.hpp
  libs/map/bookmark_manager.cpp
  libs/platform/platform_tests/glaze_test.cpp
  xcode/kml/kml.xcodeproj/project.pbxproj
Labels: Beta

#11438 [android-auto] Create route simulation button
  android/app/src/main/java/app/organicmaps/car/screens/NavigationScreen.java
  android/sdk/src/main/java/app/organicmaps/sdk/location/LocationHelper.java
Labels: Android Auto
