Repository organicmaps/organicmaps, pull requests merged in 2025-08, with the labels that each got.

#10988 [linux] Fix zero file creation (birth) time
  libs/map/map_tests/bookmarks_test.cpp
  libs/platform/platform_android.cpp
  libs/platform/platform_linux.cpp
  libs/platform/platform_mac.mm
  libs/platform/platform_win.cpp
Labels: Beta

#11050 [ios] Fix track recording indicator image
  iphone/Maps/Images.xcassets/Bottom Menu/ic_menu_bookmark_track_recording.imageset/Contents.json
  iphone/Maps/Images.xcassets/Bottom Menu/ic_menu_bookmark_track_recording.imageset/ic_menu_bookmark_track_recordign.png
  iphone/Maps/Images.xcassets/Bottom Menu/ic_menu_bookmark_track_recording.imageset/ic_menu_track_recording.svg
Labels: iOS

#11047 [android-auto] Fix null pointer exception
  android/app/src/main/java/app/organicmaps/MapFragment.java
  android/app/src/main/java/app/organicmaps/car/SurfaceRenderer.java
  android/app/src/main/java/app/organicmaps/sdk/Map.java
Labels: Android Auto

#11010 [ios] Skip addBoorkmark/routeRemoveStop when there is no place page data
  iphone/Maps/UI/PlacePage/PlacePageViewController.swift
Labels: iOS, Beta

#11073 [android] Fix hide PP category for other map objects other than track and bookmark
  android/app/src/main/java/app/organicmaps/widget/placepage/PlacePageView.java
Labels: Android

#11101 [drape] Fix gui text alignment
  libs/drape_frontend/gui/gui_text.cpp
Labels: Drape

#11103 [android] Fix colors order
  android/sdk/src/main/cpp/app/organicmaps/sdk/bookmarks/data/PredefinedColors.cpp
  libs/base/stl_helpers.hpp
  libs/kml/types.hpp
Labels: Android, Bookmarks and Tracks

#11026 [routing] New API for lanes
  android/app/src/main/java/app/organicmaps/car/util/RoutingHelpers.java
  android/app/src/main/java/app/organicmaps/car/util/RoutingUtils.java
  android/app/src/main/java/app/organicmaps/widget/LanesDrawable.java
  android/app/src/main/java/app/organicmaps/widget/LanesView.java
  android/sdk/src/main/cpp/CMakeLists.txt
  android/sdk/src/main/cpp/app/organicmaps/sdk/routing/LaneInfo.cpp
  android/sdk/src/main/cpp/app/organicmaps/sdk/routing/LaneInfo.hpp
  android/sdk/src/main/cpp/app/organicmaps/sdk/routing/RoutingInfo.hpp
  android/sdk/src/main/cpp/app/organicmaps/sdk/routing/SingleLaneInfo.hpp
  android/sdk/src/main/java/app/organicmaps/sdk/routing/LaneInfo.java
  android/sdk/src/main/java/app/organicmaps/sdk/routing/LaneWay.java
  android/sdk/src/main/java/app/organicmaps/sdk/routing/RoutingInfo.java
  android/sdk/src/main/java/app/organicmaps/sdk/routing/SingleLaneInfo.java
  libs/routing/CMakeLists.txt
  libs/routing/car_directions.cpp
  libs/routing/car_directions.hpp
  libs/routing/directions_engine.cpp
  libs/routing/following_info.hpp
  libs/routing/lanes/lane_info.cpp
  libs/routing/lanes/lane_info.hpp
  libs/routing/lanes/lane_way.cpp
  libs/routing/lanes/lane_way.hpp
  libs/routing/lanes/lanes_parser.cpp
  libs/routing/lanes/lanes_parser.hpp
  libs/routing/lanes/lanes_recommendation.cpp
  libs/routing/lanes/lanes_recommendation.hpp
  libs/routing/loaded_path_segment.hpp
  libs/routing/route.hpp
  libs/routing/routing_session.cpp
  libs/routing/routing_tests/CMakeLists.txt
  libs/routing/routing_tests/lanes/lanes_parser_tests.cpp
  libs/routing/routing_tests/lanes/lanes_recommendation_tests.cpp
  libs/routing/routing_tests/turns_generator_test.cpp
  libs/routing/turns.cpp
  libs/routing/turns.hpp
  xcode/routing/routing.xcodeproj/project.pbxproj
Labels: Routing

#11222 [android-auto] Fix theme issues
  android/app/src/main/java/app/organicmaps/car/screens/NavigationScreen.java
  android/app/src/main/java/app/organicmaps/car/util/Colors.java
Labels: Android Auto

#11239 [ios] Add `Route refs` cell to the Place Page
  iphone/CoreApi/CoreApi/PlacePageData/Common/PlacePageInfoData.h
  iphone/CoreApi/CoreApi/PlacePageData/Common/PlacePageInfoData.mm
  iphone/Maps/Images.xcassets/Place Page/ic_placepage_bus.imageset/Contents.json
  iphone/Maps/Images.xcassets/Place Page/ic_placepage_bus.imageset/ic_placepage_bus.svg
  iphone/Maps/UI/PlacePage/Components/PlacePageInfoViewController.swift
Labels: iOS, UI

#11193 [android] Increase Touch Area of edit button for Bookmark/Track PP
  android/app/src/main/res/layout/place_page_preview.xml
  android/app/src/main/res/values/dimens.xml
Labels: Android, Bookmarks and Tracks

#11262 [ios] Fix crosshair jumping when adding osm place from the place page
  libs/drape_frontend/user_event_stream.cpp
Labels: Drape
